img{
width:1300px; height: 300px;
}

.google{
  width: 600px; height: 400xp;
}

.goglea{
  width: 400px; height: 250px;
}

.Director{
   width: 550px; height: 350px;
}

.morena{
   width: 450px; height: 270px;
}

.accesi{
  width: 550px; height: 350px;
}

.org{
  width: 550px;  height: 350px;
}

.sostenible{
  width: 550px; height: 350px;
}

.jp{
border-radius: 100%;
}